* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

form {
    margin: 200px auto 0;
    max-width: 400px;
}

label {
    color: #99996c;
}

#calculate {
    color: #507e7f;
    min-width: 100%;
    padding: 4px;
}

input,
#calculate {
    border: 0;
    border: 1px solid #99996c;
    border-radius: 8px;
    min-width: 100%;
    padding: 20px;
    margin: 10px 4px;
}

.div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.div-button {
    text-align: center;
}

::placeholder {
    color: #d5d8df;
}

.div2 {
    display: grid;
    margin-top: 24px;
}

.button {
    padding: 8px 72px;
    border-radius: 16px;
    background-color: #719898;
    color: #fff;
    border: 0;
    outline: 0;
}


.alert {
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.alert div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 24px;
}

.show {
    opacity: 1;
}

.alert .label {
    color: #abab64;
}

.alert .value {
    color: #408080;
}

.backgroundcolorAlert {
    background-color: #f5f7f4;
    display: flex;
    flex-direction: column;
}
.close{
    margin-right: auto;
    width: 20px;
}